body {
	font-family: 'Roboto', 'sans-serif';
	color: #757575;
	--main-text-color: #757575;
	--logo-web-color: #2196f3;
	--logo-studio-color: #000000;
	--headers-color: #212121;
	--hover-color: #2196f3;
	--main-text-color-light: #ffffff;
	--footer-bg-color: #2f303a;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

/* header */

/* .header {
	height: 80px;
} */

/* .header,
.header-nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
} */

.logo-web {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--logo-web-color);
}

.logo-studio {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--logo-studio-color);
}

.header li {
	margin: 0px 25px;
}

.header-nav {
	display: flex;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.header-nav-link {
	color: var(--headers-color);
}

.header-nav-link:hover,
.header-nav-link:focus {
	color: var(--hover-color);
}

.header-contacts {
	display: flex;
}

.header-contacts a {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--main-text-color);
}

.header-contacts a:hover,
.header-contacts a:focus {
	color: var(--hover-color);
}

.curent {
	color: var(--hover-color);
}

/* end header */

/* solution */

.main-solution {
	height: 600px;
	background-color: var(--footer-bg-color);
	text-align: center;
}

.main-solution-text {
	margin: 0;
	padding-top: 200px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--main-text-color-light);
	text-transform: uppercase;
}

.main-solution-button {
	margin-top: 30px;
	padding: 10px 30px;
	background: var(--hover-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--main-text-color-light);
	cursor: pointer;
}

/* end solution */

/* features */

.features-h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--headers-color);
}

.features ul {
	display: flex;
	justify-content: space-around;
}

.features-h3 {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	color: var(--headers-color);
	text-transform: uppercase;
}

.features ul li {
	margin: 0px 15px;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	/* color: var(--main-text-color); */
}

/* end features */

/* we do */

.we-do {
	margin-top: 90px;
}

.we-do ul {
	display: flex;
	justify-content: space-around;
}

/* end we do */

/* team */

.team {
	margin-top: 180px;
	background: #f5f4fa;
}

.team ul {
	display: flex;
	justify-content: space-around;
}

.team ul li {
	background: var(--main-text-color-light);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	text-align: center;
}

.team-h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--headers-color);
}

.team-job {
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	/* color: var(--main-text-color); */
}

/* end team */

/* footer */

.footer {
	padding: 60px 0px 30px 215px;
	background: var(--footer-bg-color);
}

.footer .logo-web {
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.footer .logo-studio {
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--main-text-color-light);
}

.address {
	padding: 0;
}

.address li {
	font-style: normal;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: var(--main-text-color-light);
}

.address-link {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus {
	color: var(--hover-color);
}

/* end footer */

/* main filters */

.main-filters {
	padding: 90px 215px;
	text-align: center;
}

.main-filters h1 {
	display: none;
}

.main-filters-button:hover,
.main-filters-button:focus {
	background: var(--hover-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	color: var(--main-text-color-light);
	cursor: pointer;
}

.main-filters-button {
	font-family: 'Roboto';
	background: #f5f4fa;
	border-radius: 4px;
	margin: 5px 20px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--headers-color);
	cursor: pointer;
}

.main-filters ul {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.main-filters-projects li {
	background: var(--main-text-color-light);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	text-align: center;
	margin: 15px;
}

.main-filters-h2 {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--headers-color);
}

.main-filters-project {
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	/* color: var(--main-text-color); */
}

/* end main filters */
